:root {
    --sm: 1.2rem;
    --dark-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish: hsl(237, 12%, 33%);
    --dark-grayish: hsl(240, 6%, 50%);
    --light-grayish: hsl(240, 5%, 91%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
}