:root {
    --sm: 1.2rem;
    --dark-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish: hsl(237, 12%, 33%);
    --dark-grayish: hsl(240, 6%, 50%);
    --light-grayish: hsl(240, 5%, 91%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    background: var(--soft-violet);
    background: linear-gradient(180deg, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
}
main {
    width: 100vw;
    min-height: 90vh;
    display: grid;
    place-content: center;
    padding: 72px 24px 12px 24px;
}
section {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: var(--light-grayish);
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -10px;
    padding: 0 24px 40px 24px;
}
.faq-container_image {
    position: relative;
    width: 75%;
    height: 120px;
    grid-row: 1;
    display: flex;
    justify-self: center;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}
.faq-container_image picture {
    width: auto;
    height: auto;
}
.faq-container_image picture img {
    position: absolute;
    top: -80%;
}
#orange-box {
    display: none;
}
.faq-container_content {
    position: relative;
    width: 100%;
    height: auto;
    grid-row: 2;
}
h1 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.6rem;
    text-align: center;
    color: #222222;
}
.faq_content--qa {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 12px;
}
.faq_content--qa .qa-accordion,
.active {
    width: 280px;
    height: auto;
    display: flex;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid hsl(240, 6%, 50%, 0.4);
    background-color: var(--light-grayish);
    padding: 12px 0;
    font-size: var(--sm);
    line-height: 1.6rem;
    color: var(--very-dark-grayish);
    outline: none;
}
.faq_content--qa .qa-accordion {
    font-weight: 400;
    transition: 0.8s;
}
.faq_content--qa .qa-accordion:hover {
    cursor: pointer;
    color: var(--soft-red);
}
.active {
    cursor: pointer;
    font-weight: 700;
    transition: 0.2s;
}
.qa-panel {
    width: 280px;
    max-height: 0;
    display: none;
    padding: 24px 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
.qa-panel p {
    font-size: var(--sm);
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--dark-grayish);
    outline: none;
}

footer {
    width: 100vw;
    min-height: 10vh;
    display: grid;
    place-content: center;
}
.attribution {
    width: auto;
    height: auto;
}
.attribution p {
    font-size: var(--sm);
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    color: var(--light-grayish);
}
.attribution a {
    text-decoration: none;
    color: var(--light-grayish);
}
.attribution a:hover {
    cursor: pointer;
    color: var(--soft-red);
}